In [1]:
nobel_winners = [
    {
        "category": "Physics",
        "name": "Albert Einstein",
        "nationality": "Swiss",
        "gender": "male",
        "year": 1921,
    },
    {
        "category": "Physics",
        "name": "Paul Dirac",
        "nationality": "British",
        "gender": "male",
        "year": 1933,
    },
    {
        "category": "Chemistry",
        "name": "Marie Curie",
        "nationality": "Polish",
        "gender": "female",
        "year": 1911,
    },
]
f = open("data/nobel_winners.csv", "w")

cols = nobel_winners[0].keys()
cols = sorted(cols)

with open("data/nobel_winners.csv", "w") as f:
    f.write(",".join(cols) + "\n")
    for o in nobel_winners:
        row = [str(o[col]) for col in cols]
        f.write(",".join(row) + "\n")

In [4]:
with open("data/nobel_winners.csv", "r") as f:
    for line in f.readlines():
        print(line)

category,gender,name,nationality,year

Physics,male,Albert Einstein,Swiss,1921

Physics,male,Paul Dirac,British,1933

Chemistry,female,Marie Curie,Polish,1911

In [5]:
import csv
with open('data/nobel_winners.csv', 'w') as f:
    fieldnames = nobel_winners[0].keys()
    fieldnames = sorted(fieldnames)
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for w in nobel_winners:
        writer.writerow(w)

In [6]:
with open('data/nobel_winners.csv') as f:
    reader=csv.reader(f)
    for row in reader:
        print(row)

['category', 'gender', 'name', 'nationality', 'year']
['Physics', 'male', 'Albert Einstein', 'Swiss', '1921']
['Physics', 'male', 'Paul Dirac', 'British', '1933']
['Chemistry', 'female', 'Marie Curie', 'Polish', '1911']

In [7]:
with open('data/nobel_winners.csv') as f:
    reader = csv.DictReader(f)
    nobel_winners = list(reader)
nobel_winners

[{'category': 'Physics',
  'gender': 'male',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': '1921'},
 {'category': 'Physics',
  'gender': 'male',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': '1933'},
 {'category': 'Chemistry',
  'gender': 'female',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': '1911'}]

In [9]:
from datetime import datetime

dt = datetime.strptime("1947", "%Y")
dt

datetime.datetime(1947, 1, 1, 0, 0)

In [14]:
import json
with open('data/nobel_winners.json', 'w') as f:
    json.dump(nobel_winners,f)

In [19]:
import json

open("data/nobel_winners.json").read()
with open("data/nobel_winners.json") as f:
    nobel_winners = json.load(f)
nobel_winners

[{'category': 'Physics',
  'gender': 'male',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': '1921'},
 {'category': 'Physics',
  'gender': 'male',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': '1933'},
 {'category': 'Chemistry',
  'gender': 'female',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': '1911'}]

In [22]:
from datetime import datetime

json.dumps(datetime.now())

TypeError: Object of type datetime is not JSON serializable

In [26]:
import datetime
import json


class JSONDateTimeEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, (datetime.date, datetime.datetime)):
            return obj.isoformat()
        else:
            return json.JSONEncoder.default(self, obj)
        
def dumps(obj):
    return json.dumps(obj,cls=JSONDateTimeEncoder)

now_str = dumps({'time':datetime.datetime.now()})
now_str

'{"time": "2024-06-10T20:09:11.854930"}'

In [27]:
from datetime import datetime

time_str = "2021/01/01 12:32:11"
dt = datetime.strptime(time_str, "%Y/%m/%d %H:%M:%S")
dt
datetime.datetime(2021, 1, 1, 12, 32, 11)

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [29]:
data = [
{'id': 0, 'date': '2020/02/23 12:59:05'},
{'id': 1, 'date': '2021/11/02 02:32:00'},
{'id': 2, 'date': '2021/23/12 09:22:30'},
]
for d in data:
    try:
        d['date'] = datetime.strptime(d['date'],'%Y/%m/%d %H:%M:%S')
    except ValueError:
        print('Oops! - invalid date for ' + repr(d))

Oops! - invalid date for {'id': 2, 'date': '2021/23/12 09:22:30'}

In [3]:
# postgress

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, Column, Integer, String, Enum
import psycopg2

# create database
db_params = {
    "dbname": "postgres",
    "user": "filipe",
    "password": "mysecretword123",
    "host": "localhost",
    "port": "5432",
}


def create_database(dbname):
    conn = psycopg2.connect(
        dbname=db_params["dbname"],
        user=db_params["user"],
        password=db_params["password"],
        host=db_params["host"],
    )
    conn.autocommit = True
    cursor = conn.cursor()
    cursor.execute(f"CREATE DATABASE {dbname}")
    cursor.close()
    conn.close()


new_db_name = "nobel_winners"
try:
    create_database(new_db_name)
    print(f"Database {new_db_name} created successfully.")
except Exception as e:
    print(f"Failed to create database: {e}")

Base = declarative_base()

nobel_winners = [
    {
        "category": "Physics",
        "name": "Albert Einstein",
        "nationality": "Swiss",
        "gender": "male",
        "year": 1921,
    },
    {
        "category": "Physics",
        "name": "Paul Dirac",
        "nationality": "British",
        "gender": "male",
        "year": 1933,
    },
    {
        "category": "Chemistry",
        "name": "Marie Curie",
        "nationality": "Polish",
        "gender": "female",
        "year": 1911,
    },
]
f'postgresql+psycopg2://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{new_db_name}'

engine = create_engine(
    # "postgresql+psycopg2:///filipe:mysecretword123@localhost/nobel_winners", echo=True
    f'postgresql+psycopg2://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{new_db_name}'
)


class Winner(Base):
    __tablename__ = "winners"
    id = Column(Integer, primary_key=True)
    category = Column(String)
    name = Column(String)
    nationality = Column(String)
    year = Column(Integer)
    gender = Column(Enum("male", "female",name='gender'))

    def __repr__(self):
        return f"<Winner(name= {self.name}, category={self.category}, year={self.year})"


Base.metadata.create_all(engine)

# Base.metadata.create_all(engine)

Failed to create database: database "nobel_winners" already exists

In [4]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

albert = Winner(**nobel_winners[0])

session.add(albert)
session.new

IdentitySet([<Winner(name= Albert Einstein, category=Physics, year=1921)])

In [5]:
session.expunge(albert)
session.new

IdentitySet([])

In [6]:
winner_rows = [Winner(**w) for w in nobel_winners]

session.add_all(winner_rows)
session.commit()

In [7]:
session.query(Winner).count()

6

In [8]:
# page 66
result = session.query(Winner).filter_by(nationality="Swiss")
list(result)

[<Winner(name= Albert Einstein, category=Physics, year=1921),
 <Winner(name= Albert Einstein, category=Physics, year=1921)]

In [9]:
result = session.query(Winner).filter(
    Winner.category == "Physics", Winner.nationality != "Swiss"
)
list(result)

[<Winner(name= Paul Dirac, category=Physics, year=1933),
 <Winner(name= Paul Dirac, category=Physics, year=1933)]

In [10]:
# Here’s how to get a row based on ID number:
session.query(Winner).get(3)

<Winner(name= Marie Curie, category=Chemistry, year=1911)

In [78]:
# winners by year assending
res = session.query(Winner).order_by('year')
list(res)

[<Winner(name= Marie Curie, category=Chemistry, year=1911),
 <Winner(name= Albert Einstein, category=Physics, year=1921),
 <Winner(name= Paul Dirac, category=Physics, year=1933)]

In [12]:
# winners by year dessending
res = session.query(Winner).order_by(Winner.year.desc())
# res = session.query(Winner).order_by(desc(Winner.year))
list(res)

[<Winner(name= Paul Dirac, category=Physics, year=1933),
 <Winner(name= Albert Einstein, category=Physics, year=1921),
 <Winner(name= Marie Curie, category=Chemistry, year=1911)]

In [17]:
def inst_to_dict(inst, detelete_id=True):
    data = {}
    for column in inst.__table__.columns:
        data[column.name] = getattr(inst, column.name)
    if detelete_id:
        data.pop('id')
    return data


winner_rows = session.query(Winner)
nobel_winners = [inst_to_dict(w) for w in winner_rows]
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921,
  'gender': 'male'},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'gender': 'male'},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911,
  'gender': 'female'}]

In [30]:
marie=session.query(Winner).get(3)
marie.nationality='France'
session.dirty
session.commit()
session.dirty

IdentitySet([])

In [31]:
session.query(Winner).get(3).nationality

'France'

In [32]:
# delete results from a query
session.query(Winner).filter_by(name='Albert Einstein').delete()

0

In [33]:
list(session.query(Winner))

[<Winner(name= Paul Dirac, category=Physics, year=1933),
 <Winner(name= Marie Curie, category=Chemistry, year=1911)]

In [ ]:
# drop whole table
Winner.__table__.drop(engine)

In [2]:
import dataset

db_params = {
    "dbname": "nobel_winners",
    "user": "filipe",
    "password": "mysecretword123",
    "host": "localhost",
    "port": "5432",
}

db = dataset.connect(
    f'postgresql+psycopg2://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{db_params["dbname"]}'
)

wtable = db["winners"]
winners = wtable.find()
winners = list(winners)
winners

# re create winners table
wtable = db["winners"]
wtable.drop()

wtable = db["winners"]
wtable.find()

nobel_winners = [
    {
        "category": "Physics",
        "name": "Albert Einstein",
        "nationality": "Swiss",
        "year": 1921,
        "gender": "male",
    },
    {
        "category": "Physics",
        "name": "Paul Dirac",
        "nationality": "British",
        "year": 1933,
        "gender": "male",
    },
    {
        "category": "Chemistry",
        "name": "Marie Curie",
        "nationality": "Polish",
        "year": 1911,
        "gender": "female",
    },
]

with db as tx:
    tx["winners"].insert_many(nobel_winners)
list(db["winners"].find())

/home/filipe/anaconda3/lib/python3.11/site-packages/dataset/table.py:313: RuntimeWarning: Changing the database schema inside a transaction in a multi-threaded environment is likely to lead to race conditions and synchronization issues.
  warnings.warn(

[OrderedDict([('id', 1),
              ('category', 'Physics'),
              ('name', 'Albert Einstein'),
              ('nationality', 'Swiss'),
              ('year', 1921),
              ('gender', 'male')]),
 OrderedDict([('id', 2),
              ('category', 'Physics'),
              ('name', 'Paul Dirac'),
              ('nationality', 'British'),
              ('year', 1933),
              ('gender', 'male')]),
 OrderedDict([('id', 3),
              ('category', 'Chemistry'),
              ('name', 'Marie Curie'),
              ('nationality', 'Polish'),
              ('year', 1911),
              ('gender', 'female')])]