In [1]:
import pandas as pd
df = pd.read_json('data/nobel_winners.json')

In [2]:
df.columns

Index(['link', 'name', 'year', 'category', 'country', 'born_in', 'text'], dtype='object')

In [3]:
df.index

RangeIndex(start=0, stop=1206, step=1)

In [4]:
df = df.set_index("name")

In [6]:
df.loc['Albert Einstein']

,link,year,category,country,born_in,text
name,,,,,,
Albert Einstein,http://en.wikipedia.org/wiki/Albert_Einstein,1921,Physics,Germany,,"Albert Einstein , Physics, 1921"
Albert Einstein,http://en.wikipedia.org/wiki/Albert_Einstein,1921,Physics,Switzerland,,"Albert Einstein , born in Germany , Physics, ..."