In [1]:
import pandas as pd
import numpy as np

df = pd.read_json("data/nobel_winners.json")

In [2]:
df.columns

Index(['link', 'name', 'year', 'category', 'country', 'born_in', 'text',
       'date_of_birth', 'date_of_death', 'place_of_birth', 'place_of_death',
       'gender'],
      dtype='object')

In [3]:
df.index

RangeIndex(start=0, stop=1206, step=1)

In [4]:
df = df.set_index("name")

In [5]:
df.loc["Albert Einstein"]

,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
name,,,,,,,,,,,
Albert Einstein,http://en.wikipedia.org/wiki/Albert_Einstein,1921,Physics,Switzerland,,"Albert Einstein , born in Germany , Physics, ...",14 March 1879,18 April 1955,Ulm,Princeton,male
Albert Einstein,http://en.wikipedia.org/wiki/Albert_Einstein,1921,Physics,Germany,,"Albert Einstein , Physics, 1921",14 March 1879,18 April 1955,Ulm,Princeton,male

In [6]:
df = df.reset_index()
df

,name,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,William Lawrence Bragg,http://en.wikipedia.org/wiki/William_Lawrence_...,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,Brian Schmidt,http://en.wikipedia.org/wiki/Brian_Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
2,Elizabeth Blackburn *,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
3,Barry Marshall,http://en.wikipedia.org/wiki/Barry_Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,J. Robin Warren,http://en.wikipedia.org/wiki/Robin_Warren,2005,Physiology or Medicine,Australia,,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male
...,...,...,...,...,...,...,...,...,...,...,...,...
1201,Peter Handke,http://en.wikipedia.org/wiki/Peter_Handke,2019,Literature,Austria,,"Peter Handke , Literature, 2019",6 December 1942,NaN,Griffen,NaN,male
1202,Martin Karplus *,http://en.wikipedia.org/wiki/Martin_Karplus,2013,Chemistry,,Austria,"Martin Karplus *, Chemistry, 2013",15 March 1930,NaN,Vienna,NaN,male
1203,Elfriede Jelinek,http://en.wikipedia.org/wiki/Elfriede_Jelinek,2004,Literature,Austria,,"Elfriede Jelinek , Literature, 2004",20 October 1946,NaN,Mürzzuschlag,NaN,female
1204,Eric Kandel *,http://en.wikipedia.org/wiki/Eric_Kandel,2000,Physiology or Medicine,,Austria,"Eric Kandel *, Physiology or Medicine, 2000",7 November 1929,NaN,Vienna,NaN,male
1205,Walter Kohn *,http://en.wikipedia.org/wiki/Walter_Kohn,1998,Chemistry,,Austria,"Walter Kohn *, Chemistry, 1998",9 March 1923,19 April 2016,Vienna,Santa Barbara,male

In [7]:
df.loc[2]

name                                          Elizabeth Blackburn *
link               http://en.wikipedia.org/wiki/Elizabeth_Blackburn
year                                                           2009
category                                     Physiology or Medicine
country
born_in                                                   Australia
text              Elizabeth Blackburn *, Physiology or Medicine,...
date_of_birth                                      26 November 1948
date_of_death                                                   NaN
place_of_birth                                               Hobart
place_of_death                                                  NaN
gender                                                       female
Name: 2, dtype: object

In [8]:
gender_col = df.gender
type(gender_col)
pd.core.series.Series
gender_col.head()

0      male
1      male
2    female
3      male
4      male
Name: gender, dtype: object

In [9]:
cat_groups = df.groupby("category")
cat_groups

In [10]:
cat_groups.groups.keys()

dict_keys(['', 'Chemistry', 'Economics', 'Literature', 'Peace', 'Physics', 'Physiology or Medicine'])

In [11]:
phy_group = cat_groups.get_group("Physics")
phy_group.head()

,name,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,William Lawrence Bragg,http://en.wikipedia.org/wiki/William_Lawrence_...,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,Brian Schmidt,http://en.wikipedia.org/wiki/Brian_Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
16,Aleksandr M. Prokhorov,http://en.wikipedia.org/wiki/Alexander_Prokhorov,1964,Physics,Australia,,"Aleksandr M. Prokhorov , Physics, 1964",11 July 1916,8 January 2002,Atherton,Moscow,male
24,Albert A. Michelson,http://en.wikipedia.org/wiki/Albert_A._Michelson,1907,Physics,United States,,"Albert A. Michelson , born in then Germany, n...",19 December 1852,9 May 1931,Strzelno,Pasadena,male
26,Robert A. Millikan,http://en.wikipedia.org/wiki/Robert_A._Millikan,1923,Physics,United States,,"Robert A. Millikan , Physics, 1923",22 March 1868,19 December 1953,Morrison,San Marino,male

In [12]:
df[df.category == "Physics"]

,name,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,William Lawrence Bragg,http://en.wikipedia.org/wiki/William_Lawrence_...,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,Brian Schmidt,http://en.wikipedia.org/wiki/Brian_Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
16,Aleksandr M. Prokhorov,http://en.wikipedia.org/wiki/Alexander_Prokhorov,1964,Physics,Australia,,"Aleksandr M. Prokhorov , Physics, 1964",11 July 1916,8 January 2002,Atherton,Moscow,male
24,Albert A. Michelson,http://en.wikipedia.org/wiki/Albert_A._Michelson,1907,Physics,United States,,"Albert A. Michelson , born in then Germany, n...",19 December 1852,9 May 1931,Strzelno,Pasadena,male
26,Robert A. Millikan,http://en.wikipedia.org/wiki/Robert_A._Millikan,1923,Physics,United States,,"Robert A. Millikan , Physics, 1923",22 March 1868,19 December 1953,Morrison,San Marino,male
...,...,...,...,...,...,...,...,...,...,...,...,...
1187,François Englert,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,2013,Physics,Belgium,,"François Englert , Physics, 2013",6 November 1932,NaN,Etterbeek,NaN,male
1190,Wolfgang Pauli,http://en.wikipedia.org/wiki/Wolfgang_Pauli,1945,Physics,Austria,,"Wolfgang Pauli , Physics, 1945",25 April 1900,15 December 1958,Vienna,Zürich,male
1193,Victor Francis Hess,http://en.wikipedia.org/wiki/Victor_Francis_Hess,1936,Physics,Austria,,"Victor Francis Hess , Physics, 1936",24 June 1883,17 December 1964,Schloss Waldstein,Mount Vernon,male
1194,Erwin Schrödinger,http://en.wikipedia.org/wiki/Erwin_Schr%C3%B6d...,1933,Physics,Austria,,"Erwin Schrödinger , Physics, 1933",12 August 1887,4 January 1961,Vienna,Vienna,male
1200,Anton Zeilinger,http://en.wikipedia.org/wiki/Anton_Zeilinger,2022,Physics,Austria,,"Anton Zeilinger , Physics, 2022",20 May 1945,NaN,Ried im Innkreis,NaN,male

In [13]:
df = pd.DataFrame(
    {
        "name": ["Albert Einstein", "Marie Curie", "William Faulkner"],
        "category": ["Physics", "Chemistry", "Literature"],
    }
)
df.head()

               name    category
0   Albert Einstein     Physics
1       Marie Curie   Chemistry
2  William Faulkner  Literature

In [14]:
df = pd.read_json("data/data.json")
df

               name    category
0   Albert Einstein     Physics
1       Marie Curie   Chemistry
2  William Faulkner  Literature

In [15]:
json = df.to_json("data/data_cleaned.json", orient="records")

In [16]:
df = pd.read_csv("data/data.csv")
df

   Unnamed: 0             name   category
0           0  Albert Einstein   Physics
1           1      Marie Curie  Chemistry

In [17]:
from io import StringIO

data = " `Albert Einstein`| Physics \n`Marie Curie`| Chemistry"

df = pd.read_csv(
    StringIO(data),
    sep="|",
    names=["name", "category"],
    skipinitialspace=True,
    quotechar="`",
)
df

              name   category
0  Albert Einstein   Physics
1      Marie Curie  Chemistry

In [18]:
df.to_csv("data/data.csv", encoding="utf-8")

In [19]:
# Excel Files
dfs = {}
xls = pd.ExcelFile("data/nobel_winners.xlsx")
dfs["WinnersSheet1"] = xls.parse("WinnersSheet1", na_values=["NA"])
dfs["WinnersSheet2"] = xls.parse(
    "WinnersSheet2", index_col=1, na_values=["-"], skiprows=3
)
dfs

{'WinnersSheet1':     category nationality  year             name  gender
 0    Physics       Swiss  1921  Albert Einstein    male
 1    Physics     British  1933       Paul Dirac    male
 2  Chemistry      Polish  1911      Marie Curie  female,
 'WinnersSheet2': Empty DataFrame
 Columns: [Chemistry, 1975, Vladamir Prelog, male]
 Index: []}

In [20]:
dfs = pd.read_excel(
    "data/nobel_winners.xlsx",
    ["WinnersSheet1", "WinnersSheet2"],
    index_col=None,
    na_values=["NA"],
)
dfs["WinnersSheet2"].head()

     category             nationality  year                name  gender
0       Peace                American  1906  Theodore Roosevelt    male
1  Literature           South African  1991     Nadine Gordimer  female
2   Chemistry  Bosnia and Herzegovina  1975     Vladamir Prelog    male

In [21]:
# SQL
import sqlalchemy
import psycopg2
import pandas as pd

db_params = {
    "dbname": "postgres",
    "user": "filipe",
    "password": "mysecretword123",
    "host": "localhost",
    "port": "5432",
}

new_db_name = "nobel_winners_chapter_eight"


def create_database(dbname):
    try:
        conn = psycopg2.connect(
            dbname=db_params["dbname"],
            user=db_params["user"],
            password=db_params["password"],
            host=db_params["host"],
        )
        conn.autocommit = True
        cursor = conn.cursor()
        cursor.execute(f"CREATE DATABASE {dbname}")
        cursor.close()
        conn.close()
        print(f"Database {new_db_name} created successfully.")
    except Exception as e:
        print(f"Failed to create database: {e}")


create_database(new_db_name)

engine = sqlalchemy.create_engine(
    # "postgresql+psycopg2:///filipe:mysecretword123@localhost/nobel_winners", echo=True
    f'postgresql+psycopg2://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{new_db_name}'
)

df = pd.DataFrame(
    {
        "name": ["Albert Einstein", "Marie Curie"],
        "category": ["Physics", "Chemistry"],
    }
)

df.to_sql("winners_copy", engine, if_exists="replace")

Failed to create database: database "nobel_winners_chapter_eight" already exists

2

In [22]:
pd.read_sql_table("winners_copy", engine)

   index             name   category
0      0  Albert Einstein    Physics
1      1      Marie Curie  Chemistry

In [23]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
s = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [25]:
s = pd.Series({'a':1, 'b':2, 'c':3})
s

a    1
b    2
c    3
dtype: int64

In [26]:
s = pd.Series({'a':1, 'b':2}, index=['a', 'b', 'c'])
s

a    1.0
b    2.0
c    NaN
dtype: float64

In [27]:
s = pd.Series({'a':1, 'b':2, 'c':3}, index=['a', 'b'])
s

a    1
b    2
dtype: int64

In [28]:
pd.Series(9, {'a', 'b', 'c'})

c    9
b    9
a    9
dtype: int64

In [29]:
s = pd.Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])
np.sqrt(s)

a    1.000000
b    1.414214
c    1.732051
d    2.000000
dtype: float64

In [30]:
s[1:3]

b    2
c    3
dtype: int64

In [31]:
pd.Series([1, 2.1, 'foo']) + pd.Series([2, 3, 'bar'])

0         3
1       5.1
2    foobar
dtype: object

In [39]:
names = pd.Series(["Albert Einstein", "Marie Curie"], name="name")
categories = pd.Series(["Physics", "Chemistry"], name="category")
df = pd.concat([names, categories], axis=1)
df.head()

              name   category
0  Albert Einstein    Physics
1      Marie Curie  Chemistry